@import "../base/variables.scss";

#block-reassurance {
  display: none;
}

.scroll-box-arrows.scroll {
  display: none;
}
#product {
  .page-content {
    .images-container {
      .small-images {
        .product-images {
          display: flex;
          flex-wrap: wrap;

          .thumb-container {
            display: contents;
          }
          img {
            height: 100%;
            width: auto;
            opacity: 0.75;
            @media (max-width: $large-vw) {
              height: 60px;
            }
            height: 100px;
            &.selected {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

#product-availability {
  display: none;
}
