@import "../base/variables.scss";
button,
.btn {
  &-primary {
    border: 1px solid $black;
    border-radius: 4px;
    background: $black;
    padding: 10px 14px;
    cursor: pointer;
    color: $white;
    transition: 0.3s all ease;
  }
  &:hover {
    background: $comp-clr;
    border: 1px solid $comp-clr;
    color: $main-clr;
  }

  &.btn-unstyle {
    background: transparent;
    border: none;
    box-shadow: none;
    &:hover {
      background: transparentr;
      border: none;
      color: $main-clr;
    }
  }

  &.no-box-shadow {
    box-shadow: none;
  }
}

//add to cart
.product-add-to-cart {
  .input-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "minus input plus";
  }
  input#quantity_wanted {
    grid-area: input;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .input-group.bootstrap-touchspin {
    box-shadow: none;
  }

  button.btn-touchspin {
    height: 100%;
    color: $black;

    &.bootstrap-touchspin-up {
      grid-area: plus;
    }

    &:first-of-type {
      border-radius: 0 4px 4px 0;
    }

    &:last-child {
      border-radius: 4px 0 0 4px;
    }

    i.material-icons {
      display: none;
    }
  }
}
